<br><br><h1 class="text-center">Create New Task</h1><br>

<div class="w-50 mx-auto">
  <%= form_with(model: @task, local: true) do |form| %>
    <div class="mb-3 w-100">
      <%= tag.button form.label(:title), class: 'btn btn-dark w-100 text-start', type: 'button' %>
      <%= form.text_field :title, class: 'form-control mt-2 w-100' %>
    </div>

    <div class="mb-3 w-100">
      <%= tag.button form.label(:details), class: 'btn btn-secondary w-100 text-start', type: 'button' %>
      <%= form.text_area :details, class: 'form-control mt-2 w-100' %>
    </div>

    <div class="mb-3 d-flex justify-content-between w-25 mx-auto">
      <%= form.submit 'Done', class: 'btn btn-primary' %>

      <%= link_to 'Back', tasks_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
